@{
    ViewData["Title"] = "Contato";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Contato</h1>
            <h3>Sua página de contato</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-left">
            <p>Avenida Paulo Erlei Abrantes, 1235, Volta Redonda, RJ.27.254-260.</p>
            <p>Telefone: (24) 3340-8400.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-left mt-2">
            <p><strong>Suporte: </strong><a>suporte@foa.org.br</a></p>
            <p><strong>Marketing: </strong><a>marketing@foa.org.br</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="https://www.unifoa.edu.br/wp-content/uploads/2021/06/3-pocos.jpg" class="img-fluid" alt="FOA" />
        </div>
    </div>
</div>



